<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.21.9" />
  <package id="K4os.Compression.LZ4" version="1.2.6" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" />
  <package id="K4os.Hash.xxHash" version="1.0.6" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="MySql.Data" version="8.0.32" />
  <package id="Portable.BouncyCastle" version="1.9.0" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" />
  <package id="System.IO" version="4.3.0" />
  <package id="System.Memory" version="4.5.4" />
  <package id="System.Numerics.Vectors" version="4.4.0" />
  <package id="System.Reflection" version="4.3.0" />
  <package id="System.Reflection.Primitives" version="4.3.0" />
  <package id="System.Runtime" version="4.3.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Runtime.Loader" version="4.3.0" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.4.0" />
  <package id="System.Security.Permissions" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
  <package id="System.Text.Encoding" version="4.3.0" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" />
  <package id="System.Threading.Tasks" version="4.3.0" />
</packages>